torch==2.0.1
torchvision==0.15.2
pytorch-lightning==1.6.0
spacy==3.0.0
ftfy
regex
tqdm
git+https://github.com/openai/CLIP.git
huggingface_hub==0.17.3

numpy
scipy
matplotlib
imageio
Pillow
opencv-python
pandas
torchinfo
gsheets
wandb
pycocoevalcap
clip